root=true

# The general settings.
["*"]
charset="utf-8"
end_of_line="lf"
indent_size=4
indent_style="space"
insert_final_newline=true
trim_trailing_whitespace=true

# Haskell and dhall things are better with 2 indents.
["*.{hs,hsc,dhall,cabal}"]
indent_style="space"
indent_size=2

["*.nix"]
indent_style="space"
indent_size=2
