.DS_Store
.idea
*.log
tmp/


# Cabal build
/dist-newstyle
cabal.project.local

# Created by a bug somewhere in emacs... Should fix this later...
/nil
/out
/tmp

/dotfiles/.emacs.d
/playgrounds

scratch.org

# Node
.pnpm
node_packages
